<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    id="org.ideateam.cordova.plugin.UpdateToVersion"
    version="1.0.0">

    <name>EchoPlugin</name>

  <description>
    Echo Plugin for Steroids.js
  </description>

  <asset src="www/UpdateToVersion.js" target="www/UpdateToVersion.js" /> 

  <js-module src="UpdateToVersion.js" name="UpdateToVersion">
    <clobbers target="updateToVersion" />
  </js-module>

  <engines>
    <engine name="cordova" version=">=2.7.0" />
  </engines>

  <!-- android -->
  <platform name="android">
    <config-file target="res/xml/config.xml" >
      <plugin name="UpdateToVersion" value="org.ideateam.cordova.plugin.UpdateToVersion"/>
    </config-file>

    <source-file src="src/android/UpdateToVersion.java"
      target-dir="src/org/ideateam/cordova/plugin" />
  </platform>

  <!-- ios 
  <platform name="ios">
    <config-file target="config.xml" parent="/*/plugins">
      <plugin name="Echo" value="Echo" onload="true" />
    </config-file>

    <config-file target="config.xml" parent="/widget">
      <feature name="Echo">
        <param name="ios-package" value="Echo"/>
        <param name="onload" value="true" />
      </feature>
    </config-file>

    <header-file src="src/ios/Echo.h" />

    <source-file src="src/ios/Echo.m" />

  </platform>
  -->
</plugin>